@using HastaneRandevuSistemi.Models

@model List<Hastaneler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <Title>
        Randevu Alma Sayfası
    </Title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <style>
        body {
            font-family: 'Poppins';
        }

        #outer {
            width: 100%;
            text-align: center;
        }

        .inner {
            display: inline-block;
            margin-top: 50px;
        }

        .inn {
            margin-left: 100px;
        }

        span {
            margin-left: 5px;
            font-size: 22px;
        }

        .a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tabss {
            margin-top: 75px;
        }

        .asd {
            text-align: center;
        }
    </style>
</head>
<body>
                                                                                                @*     Ingilizce Turkce Dil Destegi   *@        
                         <div class="dropdown">
                                <button type="button" 
                                    class="btn btn-primary dropdown-toggle" 
                                    data-bs-toggle="dropdown"> Localization 
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a 
                                            asp-controller="Home" 
                                            asp-action="ChangeLanguage" 
                                            asp-route-culture="en-US" 
                                            class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> English
                                        </a>
                                    </li>
                                    <li>

                                        <a 
                                            asp-controller="Home" 
                                            asp-action="ChangeLanguage" 
                                            asp-route-culture="tr-TR" 
                                            class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> Türkçe
                                        </a>
                                    </li>
                                </ul>
                            </div>

    <div id="outer">
        <div class="inner"><a href="/Home/AsiRandevu" class="btn btn-secondary btn-lg"><i class="fa fa-syringe a" style="font-size:48px;"></i><span>@_localization.Getkey("Aşı Randevusu Al").Value </span></a></div>        
        <div class="inner inn"><a href="/Home/Cascading" class="btn btn-danger btn-lg"><i class="fa fa-hospital a" style="font-size:48px;"></i><span>@_localization.Getkey("Hastane Randevusu Al").Value </span></a></div>
        <div class="inner inn"><a href="/Home/AileHekimi" class="btn btn-info btn-lg text-light"><i class="fa fa-user-md a" style="font-size:48px;"></i><span>@_localization.Getkey("Aile Hekimi Randevusu Al").Value </span></a></div>
    </div>



    <ul class="nav nav-tabs tabss">
        <li class="nav-item">
            <a class="nav-link active " aria-current="page">@_localization.Getkey("Hastanelerimiz").Value</a>
        </li>
    </ul>
    <div>
        <table class="table table-bordered asd">
            <tbody>
                @foreach (var hstn in Model)
                {
                    <tr>
                        <td>@hstn.Sehir.SehirAd</td>
                        <td>@hstn.Ilceler.IlceAd</td>
                        <th>@hstn.HastaneAd</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>